<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza4Me</title>



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container justify-content-around">
            <div class="row">
                <div class="col-sm-8 ">
                    <a class="navbar-brand" href="#">Pizza4Me</a>
                </div>
                <div class="col-sm-4 px-4">
                    <form action="http://localhost:8080/login/register" method="GET">
                        <button class="btn btn-sm btn-outline-secondary " type="submit">Registrieren</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 ">
                {#for pizza in pizzas}
                
                    <div class="row">
                        <div class="col-sm-6 pt-3 ">
                            <div class="card bg-light h-100">
                                <div class="card-body h-50">
                                    <h5 class="card-title h-25">{pizza.name}</h5>
                                    <p class="card-text h-25 text-secondary">{pizza.description}</p>
                                    <div class="row h-25">
                                        <div class="col-sm-4">
                                            <p class="card-text">{pizza.price}€</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <form action="http://localhost:8080/index/kunde" method="GET" id="form_{pizza.id}">
                                                <input type="number" name="menge" required>
                                                <input type="hidden" value="{pizza.id}" name="pizza">
                                            </form>

                                        </div>
                                        <div class="col-sm-2">
                                            <input type="submit" value="Add" form="form_{pizza.id}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#if pizza_count.mod(2) == 1}
                    {/if}
                {/for}
            </div>
            
            <div class="col-sm-4 pt-3">
                <div class="card ">
                    <div class="card-header bg-dark text-center text-light">shopping cart</div>
                    <div class="card-body bg-light">
                        {#for item in items.orEmpty}
                        <div class="row">
                            <div class="col-sm-8">{item.amount} x {item.pizza.name}</div>
                            <div class="col-sm-4">{item.totalPrice()}€</div>
                        </div>
                        {/for}
                    </div>
                
                    <div class="card-footer bg-light">
                        <div class="row">
                            <div class="col-sm-9">
                                Total Price:
                            </div>
                            <div class="col-sm-3">
                                {totalPrice}€
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3 pt-3">
                                <form>

                                    <input type="submit" formaction="http://localhost:8080/" formmethod="GET"
                                        class="btn btn-success" value="Bestellen">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> 
    

</body>

</html>